body{
    font-size: 14px;
    /*background:#FFF2F2;*/
}
a {
    color:#CF4C22;
}
a:hover{
    text-decoration: none;
    border-bottom: 1px solid;
}

h2,h3,h4,h5,h6{
  font-weight: normal;
  margin-top: 16px;
  margin-bottom: 16px;
  color:#555;
}
.main {
    width: 990px;
    margin-left: auto;
    margin-right: auto;
}
.icon-demo {
    font-size: 0;
    text-align: center;
    padding: 36px 0 60px;
}

.icon-nromal{
  background-color: #FFF2F2;
}

.icon-click{
  background-color: #D0E6F1;
}

.icon-hover{
  background-color: #E2D3FC;
}

.icon-list{
    background: none;
}
.icon-list li {
    display: inline-block;
    width: 300px;
    height: 300px;
    line-height: 300px;
    vertical-align: middle;
    text-align: center;
}

/* SVG背景透明 */
.loveicon div{
    background-color: transparent !important;
    pointer-events: none !important;
}

.loveicon {
    width: 160px;
    height: 160px;
    margin:20px auto;
    position: relative;
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.loveicon:hover {
    width: 300px;
    height: 300px;
    cursor: pointer;
    background-color: #EEE;
    border-radius: 50%;
}


/* 演示页面 */
.banner {
    text-align: center;
    padding-bottom: 20px;
    background-color: #FFF2F2;
}
.banner h1 {
    position: relative;
    font-size: 86px;
    color:#E74C27;
    font-family: Arial, sans-serif;
    text-shadow: 2px -2px 3px rgba(0, 0, 0, .5);
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.banner h1:hover {
    cursor: pointer;
    text-shadow: -2px 2px 4px rgba(0, 0, 0, .6);
}
.banner p {
    font-size: 36px;
    color:#666;
}
.banner blockquote p {
    color:#CF4C22;
}
#footer {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
    border-top: 1px solid #E5E5E5;
    background-color: white;
    position: relative;
    z-index: 1;
}

#footer .info{
    overflow: hidden;
    display: inline-block;
}

#footer .info a{
    padding:0 8px;
    border-left: 1px solid #CCC;
    margin-left: -1px;
}

/* 二维码 */
.dimensional{
    margin-top: 30px;
    text-align: center;
    color:#666;
}

.dimensional h2{
    font-weight: normal;
}

.dimensional img{
    display: block;
    margin: 20px auto;
}

.loveicon-hover{
  text-align: center;
}

/*.icon-demo h2,
.icon-demo h3{
  text-align: left;
}*/


.btn{
  text-align: center;
  margin-right: 10px;
}
.btn .icons{
  margin: 0 3px;
  vertical-align: middle;
}
.btn .icons svg{
  fill:#555;
}

.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 13px;
  line-height: 18px;
  *line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}


.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
      -ms-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.btn-large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
